.membership__zone{
    margin-top:-1.5rem;
    margin-bottom: -1.5rem;
  
    background: url("https://media.gettyimages.com/id/1475426034/photo/young-woman-doing-cardio-workout-on-stationary-bike-at-gym.jpg?s=612x612&w=0&k=20&c=cy1cI5_Jn0AcVr9CxS5NLut_dzCjNngp3CSkOFTpGvs=") no-repeat center center fixed;
    background-size: cover;
}

.zone__card{
    margin-bottom: 2rem;
}
