.about__hero{
  background-color: var(--secondary-color);
  margin-top: 4rem;
}

  .about__split-section {
    color: var(--secondary-color);
  }
  
  .about__split-content {
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-align: justify;
  }

  .about__split-content div{
    flex: 1;
  }
  
  .about__gallery{
    border-radius: 2rem;
    background-color: var(--grey-color-5);
  }


  
  
  .about__services{
    background-color: var(--secondary-color);
  }

 .about__trainers{
  background-color: var(--primary-color);
  margin-bottom: 4rem;
 }