.nav-btn{
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #5A29E4, #FC6C3A);
    color: white;
}

.nav-btn:hover{
    background-image: linear-gradient(to right, #5A29E4, #ffb39a);
    cursor: pointer;
}

/*NAV BTN MOBILE*/
.nav-btn{
    position: absolute;
    
    right: 128px;
}

.onboarding{
    background-color: #160601af;
}

.onboarding-title{
    color: #FC6C3A;
}
.onboarding-signup, .onboarding-login{
    background-color: #5A29E4;
   width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    
}

.onboarding-signup:hover, .onboarding-login:hover {
    background-color: #715da8;
    cursor: pointer;
}