/* HEADER */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #184975;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* NAVIGATION */
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem; /* Consistent padding */
    border-bottom: 2px solid #ffb39a;
    background-color: rgba(255, 255, 255, 0.989);
  }
  
  .header__logo img {
    height: 2.5rem; /* Consistent logo height */
    width: auto;
  }
  
  /* NAV LINKS */
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Adjusted spacing for consistency */
    transition: var(--transition);
  }
  
  .header__item {
    list-style: none;
    font-size: 1.125rem;
    
  }
  
  .header__link {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .header__link:hover {
    color: #fc6c3a;
  }
  
  /* MENU BUTTON */
  .header__menu-btn {
    display: none; /* Hidden by default */
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  /* RESPONSIVE DESIGN FOR SMALLER SCREENS */
  @media screen and (max-width: 1024px) {
    .header__menu{
      display: flex;
      gap: 2rem;
      align-items:center;
      justify-content: center;
    }
    .header__menu-btn {
      display: flex;
      justify-content: center;
    }
  
    .header__links {
      position: absolute;
      top: 100%;
      right: 2%;
      flex-direction: column;
      background-color:var(--secondary-color);
      box-shadow: 0.1rem 0.1rem 0.5rem rgb(148, 148, 148);
      border-radius: 0.5rem;
      padding: 1rem 2rem 1rem;
      display: none; /* Hidden by default */
    }
  
    .header__links--visible {
      display: flex;
    }
  
    .header__links--hidden {
      display: none;
    }
  
    .header__item {
      width: 100%;
      text-align: center;
      border-radius: 4px;
      padding: 0.5rem 0;
      border: 1px solid rgb(96, 91, 91);
      width: 100%;
    }
    
    .header__item:hover{
      background-color: #fc6c3a;
    }

    .header__link {
      width: 100%;
      padding: 0 2rem; 
    
      color: #fff;
    }
  
    .header__link:hover {
      color: white;
    }
  }
  
  @media (max-width: 355px) {
    .modal__btn{
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    .header__menu{
      gap: 2rem;
      margin-left: 2rem;
     
    }
  }
