/*NAVIGATION*/
header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1000;
}
.nav-logo{
    height: 48px;
    width: 64px;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    padding:2rem 4rem;
    border-bottom: 2px solid #ffb39a;
    position: relative;
    background-color: rgba(255, 255, 255, 0.989);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: var(--transition);
}


/*ACTIVE NAV*/


/*ONLY SHOW ON MOBILE DEVICES*/
.nav-menu-btn{
    display: none;
}

/*MEDIA QUARIES (medium and small screen*/
@media screen and (max-width: 1024px){
    
    .nav-menu-btn{
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 2.5rem;
       cursor: pointer;
    }

    .nav-links{
        position: absolute;
        top: 100%;
        right: 2%;
        flex-direction: column;
        gap: 0;
        background-color: white;
        box-shadow: -0.2rem 0.1rem 0.5rem #5A29E4;
        border-radius: 8px;
       
    }
    .nav-links li{
        height: 4rem;
        width: 100%;
    }
    .nav-links li a{
        background-color: #FC6C3A;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5rem 0;

    }

    .nav-links li a:hover{
        background-color: #a482ff;
        transition: var(--transition);
    }

    /*SHOW & HIDE NAV*/
    .show-nav{
        display: flex;
    }

    .hide-nav{
        display: none;
    }
}