.schedule{
  flex-direction: column;
  display: flex;
  background-color: var(--grey-color-5);
}
.schedule__table {
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    padding: 6rem 0 0;
    background-color: var(--grey-color-5); /* Assuming a light grey for background */
  }
  
  .schedule__container {
    overflow-x: auto; /* Enable horizontal scrolling for small devices */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    background-color: #fff;
  }
  
  /* Basic data styling */
  .schedule__data {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: #fff;
  }
  
  .schedule__data th, 
  .schedule__data td {
    padding: 1rem; /* 16px spacing (following 8-point system) */
    text-align: center;
    border: 1px solid #ddd; /* Light border for separation */
    min-width: 120px; /* Ensure columns are at least a certain width */
  }
  
  /* Sticky header */
  .schedule__data thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary-color); /* Sticky header color */
    color: #fff;
    z-index: 1;
  }
  
  /* Alternating row colors for readability */
  .schedule__row:nth-child(even) {
    background-color: var(--grey-color-10); /* Light grey for even rows */
  }
  
  .schedule__row--even {
    background-color: #f7f7f7;
  }
  
  .schedule__row:hover {
    background-color: var(--secondary-color-50); /* Light shade of secondary color */
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .schedule__data th, 
    .schedule__data td {
      padding: 0.75rem; /* Slightly smaller padding for mobile */
      font-size: 0.875rem; /* Smaller text size */
    }
  
    .schedule__container {
      padding: 0 1rem;
    }
  }
  
  .schedule__discount {
    margin-bottom: 3rem;
    margin-top: 4rem;
    background: var(--gradient-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    color: var(--grey-color-5);
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 80%;
    align-self: center;
  }
  .schedule__discount h4 {
    text-shadow: rgba(255, 255, 255, 0.267) 0px 4px 12px;
    font-size: 2rem;
    color: var(--primary-color);
  }
  
  .schedule__discount h5 {
    font-size: 1.25rem;
    color: var(--grey-color-5);
    
  }
  
  .btn__lg {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--primary-color);
    color: var(--grey-color-5);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  @media (max-width: 768px) {
  
    .schedule__discount h4 {
      font-size: 1.75rem;
    }
  
    .schedule__discount h5 {
      font-size: 1rem;
    }
  
    .btn__lg {
      padding: 0.8rem 2rem;
      font-size: 1rem;
    }
  }
  
 